ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #850909;
  }
  
  ul.topnav li {
    float: left;
  }
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.icon) {
    background-color: #111;
  }
  
  ul.topnav li.right {
    float: right;
  }
  
  ul.topnav li.middle {
    text-align: right;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  ul.topnav li.middle a:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  
  .topnav img {
    width: 50px;
    height: 50px;
    float: left;
  }
  
  @media screen and (max-width: 900px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  
  body {
      margin: 5%;
      padding: 5%;
    }
  
  div > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #850909;
    }
    
    ul > li {
      float: left;
    }
    
    .icon {
     float : left;
      }
    
    ul > li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    ul > li a:hover {
      background-color: #111;
    }
  
    footer > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #aa9494;
    }
    
    ul > li {
      float: left;
    }
    
    .horizontal {
     float : left;
      }
    
    ul > li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    ul > li a:hover {
      background-color: #111;
    }

    h2 {
        text-align: center;
    }

    